@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Outfit:wght@100..900&display=swap');


html{
  font-size:62.5%
}

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: "Outfit", serif;
  scroll-behavior: smooth;
}
body{
  font-size: 1.6rem;
  min-height: 100vh;
}
a{
  text-decoration: none;
  color:inherit;
}
.app{
  width:80%;
  margin: auto;
}

@keyframes fadeIn {
  0% {opacity: 0} 
  100% {opacity: 100}
}